html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  /* 1 */
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button, input {
  /* 1 */
  overflow: visible;
}

button, select {
  /* 1 */
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}

header {
  background: #d1c432;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(60, 60, 60, 0.3);
}

header::after {
  content: ' ';
  display: table;
  clear: both;
}

header .container {
  max-width: 800px;
  margin: 0 auto;
}

header .logo {
  padding: 0.5rem;
  float: left;
}

header .logo h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -5px;
  line-height: 1;
  font-family: 'Roboto Slab', serif;
}

header .logo h1::first-letter {
  font-weight: 600;
}

header .logo img {
  height: 3rem;
  width: 3rem;
}

header nav {
  float: right;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0;
}

header nav li a {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  padding: 1.5rem 1.3rem;
  margin: 0;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

header nav li a:hover {
  color: #fff;
  background: #36a6e9;
}

.slider {
  width: 100%;
  height: 20rem;
  background-image: url(../img/imgstock1.jpg);
  background-size: cover;
  background-position: center center;
}

main {
  padding: 4rem 1rem 0;
  font-family: 'Open Sans', sans-serif;
}

main p {
  line-height: 2;
  font-size: 1.2rem;
}

main h1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 2rem;
  padding: 0 0 0 1rem;
  line-height: 1;
  border-left: 2px solid #000;
}

main section {
  max-width: 800px;
  margin: 2rem auto;
}

main img {
  width: 100%;
  margin: 2rem 0;
}
